<launch>
  <env name="REALROBOT" value="1" />

  <param name="/hector_geotiff_node/map_file_path" type="string" value="/home/rssimap/data/" />

  <include file="$(find quadro)/launch/mapping_box.launch"/>

  <node name="wifi_tap" pkg="rssimap" type="wifi-tap.py" />
  <include file="$(find rssimap)/launch/record.launch"/>
</launch>
